name: Build and deploy Vite React app to Azure Web App - nagaraga-react

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies and build
        run: |
          npm install
          npm run build
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions: 
     id-token: write #This is required for requesting the JWT 
     contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6099384B25394D5FBBABDCDB3AB62EC3 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_EEC8127B252B4B8F87E2F0D1BFDB7B6D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6A2CD850432A4855A0B6C1827B951A75 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'nagaraga-react'
          slot-name: 'Production'
          package: node-app

